* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
button,
input {
  font: inherit; //所有的标签和字体都是继承父元素的
}
:focus {
  outline: none; //去掉边框的线
}

h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}//statistics不需要加粗
